<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Ajouter un utilisateur</title>
    <link th:rel="stylesheet" th:href="@{/CSS/style_2.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <form action="#" th:action="@{/admin/add}" th:objects="${user}" method="post">
        <div class="form-row">
          <div class="input-data">
            <input type="text" required th:field="*{user.nom}" />
            <div class="underline"></div>
            <label >Nom</label>
          </div>
          <div class="input-data">
            <input type="text" required th:field="*{user.Poste}" />
            <div class="underline"></div>
            <label>Poste</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type=text list=roles required th:field="*{user.Role}">
            <datalist id=roles >
              <option> membre
              <option> responsable
            </datalist>
            <label>Role</label>
            <!--<input type="text" required th:field="*{user.Role}"/>
            <div class="underline"></div>
            <label>Role</label>-->
          </div>
        </div>
        <div class="form-row">
          <div class="input-data textarea">
            <br />
            <div class="underline"></div>
            <br />
            <div class="form-row submit-btn">
              <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="enregistrer" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
