<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page d'acceuil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/CSS/w3.css}"/>
    <link th:rel="stylesheet" th:href="@{/CSS/custom.css}"/>
    </head>
</head>
    <body>
        <h1 class="center">Bienvenue sur le Planning Poker</h1>
        <div class="w3-container center">
            <button id="btn_c_session" class="w3-button w3-blue">cree une session</button>
        </div>
        <dialog id="cree_session" class="w3-round-xlarge w3-border w3-border-white">
            <p><label> Quel unité pour les votes :
                <select>
                <option></option>
                <option>Jours</option>
                <option>Points</option>
                </select>
            </label></p>
            <menu>
                <button id="cancel_c_session" class="w3-hover-red w3-round-large w3-border w3-hover-border-red">Annuler</button>
                <button id="confirmBtn" class="w3-hover-blue w3-round-large w3-border w3-hover-border-blue">Confirmer</button>
            </menu>
            </form>
        </dialog>
    </body>
    <script>
        const updateButton = document.getElementById('btn_c_session');
        const favDialog = document.querySelector('#cree_session');
        const selectEl = favDialog.querySelector('select');
        const confirmBtn = favDialog.querySelector('#confirmBtn');
        const cancelBtn = favDialog.querySelector('#cancel_c_session');
        

        // "Update details" button opens the <dialog> modally
        updateButton.addEventListener('click', () => {
        if (typeof favDialog.showModal === "function") {
            favDialog.showModal()
        } else {
            outputBox.value = "Sorry, the <dialog> API is not supported by this browser.";
        }
        });
        // "Favorite animal" input sets the value of the submit button
        selectEl.addEventListener('change', function onSelect(e) {
            favDialog.returnValue = selectEl.value;
            // console.log(selectEl.value)
        });
        cancelBtn.addEventListener('click', () => {
            favDialog.close()
        });
        // "Confirm" button of form triggers "close" on dialog because of [method="dialog"]
        confirmBtn.addEventListener('click', () => {
        // const type = new URLSearchParams()
        localStorage.setItem("key_type",favDialog.returnValue)
        const link = document.createElement("a");
        link.href = "session_responsable";
        link.target = "_blank";
        document.body.appendChild(link);
        link.click();
    });

        
  
    </script>
</html> 
