<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page d'acceuil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href= "@{/CSS/custom.css}">
    <link th:rel="stylesheet" th:href="@{/CSS/w3.css}">
    </head>
</head>
<body>
<h1 class="center">Bienvenue sur le Planning Poker </h1>
<div class="w3-container center">
    <a  class="w3-button w3-blue" th:href=@{/admin/add}>ajoutez un membre</a>
    <a  class="w3-button w3-blue" th:href=@{/admin/remove}>supprimer un membre</a>
    <a  class="w3-button w3-blue" th:href=@{/admin/update}>Promouvoir un membre</a>


</div>
</body>
</html>