<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link th:rel="stylesheet" th:href= "@{/CSS/style.css}">
    <link th:rel="stylesheet" th:href="@{/CSS/w3.css}">
  </head>
  <body>
    <div class="wrapper">
      <header>Connexion</header>
      <form action="#">
        <div class="field email">
          <div class="input-area">
            <input type="text" placeholder="Id number" />
            <i class="icon fas fa-envelope"></i>
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Cette id n'existe pas</div>
        </div>
        <div class="field password">
          <div class="input-area">
            <input id="my_id" type="text" placeholder="Role" />
            <i class="icon fas fa-lock"></i>
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <a  class="my_btn w3-button w3-blue w3-border-blue  w3-round-xxlarge w3-border w3-hover-blue" onclick="login_ok()">Connexion</a>
        </div>
      </form>
    </div>
  </body>
  <script th:src="@{/js/login.js}"></script>
</html>
