<!DOCTYPE html>
<html lang="fr"  xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:rel="stylesheet" th:href="@{/CSS/w3.css}" />
    <link th:rel="stylesheet" th:href="@{/CSS/custom.css}" />
    <title>Promotion</title>
      <br>
      <a class="w3-button w3-blue w3-round-xlarge" th:href="@{/admin}">Retour</a>
      <br>
  </head>
    <p class="errMsg" id="sysMsg"></p>

    <h1 class="center">Liste des membres</h1>

    <div class="w3-container center">
      <table class="w3-table-all">
        <thead>
          <tr class="w3-white">
            <th>ID</th>
            <th>Nom</th>
            <th>Poste</th>
            <th>Role</th>
            <th>Promouvoir</th>
          </tr>
        </thead>
        <tbody>
            <tr id="array" class="w3-hover-blue" th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.nom}"></td>
                <td th:text="${user.Poste}"></td>
                <td th:text="${user.Role}"></td>
              <td><a th:href="@{/admin/updateMyUser/{id}(id=${user.id})}" class="w3-hover-red w3-border w3-border-black w3-hover-border-red w3-btn w3-round-xxlarge">Promouvoir</a></td>

                <!-- <td th:input="class="w3-hover-green w3-border w3-border-black w3-hover-border-green w3-btn w3-round-xxlarge" type="button"
                value="Promouvoir"></td> -->
            </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
